@import url("satoshi.css");

* {
  box-sizing: border-box;
}

root {
  font-size: 62.5%;
}

html {
  background: black;
  font-family: Satoshi-Regular;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      110deg,
      rgba(244, 199, 179, 0.2) 6.51%,
      rgba(195, 128, 99, 0.2) 87.47%
    ),
    #000;
  backdrop-filter: blur(10px);
  color: white;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent gray */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 1.5rem;
  padding: 2rem 1rem;
}

a,
b {
  font-family: Satoshi-Bold;
  color: white;
  font-style: bold;
}

#app-store,
#play-store {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
}

.logo {
  /* border-radius: 500; */
}

.title-text {
  font-size: 3rem;
  margin: 0;
}

.subtitle-text {
  font-size: 1.5rem;
  margin: 0;
}

.content-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-around;
}

.home-body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.made-by {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.maker-names {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 1rem;
}

.name {
  padding: 0;
  margin: 0;
}

.pt {
  padding-top: 0.5rem;
}

.privacy-body {
  padding: 0;
  margin: 0;
}

.privacy-body .content-body {
  padding-left: 1rem;
  padding-right: 1rem;
}

#privacy-policy {
  font-size: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .content-layout {
    flex-direction: row;
    align-items: center;
  }

  .privacy-body .content-body {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  #privacy-policy {
    line-height: 1rem;
  }
}
